{% extends 'management/base.html' %}

{% block main %}
  <main>
    <section id="create-patient">
      <h2>{{ patient.name }}'s Record</h2>
      <form action="#" method="post" class="patient-form">
        {% csrf_token %}
        <div class="form-group">
          <label for="name">Name</label>
          <input value="{{ patient.name }}" disabled />
        </div>
        <div class="form-group">
          <label for="birth_year">Birth Year</label>
          <input value="{{ patient.birth_year }}" disabled />
        </div>
        <div class="form-group">
          <label for="age">Age</label>
          <input value="{{ patient.age }}" disabled />
        </div>
        <div class="form-group">
          <label for="phone">Phone</label>
          <input value="{{ patient.phone }}" disabled />
        </div>
        <div class="form-group">
          <label for="note">Note</label>
          <textarea id="note" name="note" rows="3" disabled>{{ patient.note }}</textarea>
        </div>
        <div class="form-group">
          <label for="medical_histories">Medical Histories</label>
          <textarea id="medical_histories" name="medical_histories" rows="3" disabled>{{ patient.histories }}</textarea>
        </div>
        <div class="form-group">
          <label for="drug_allergies">Drug Allergies</label>
          <textarea id="drug_allergies" name="drug_allergies" rows="3" disabled>{{ patient.allergies }}</textarea>
        </div>
        <div class="form-group">
          <label for="current_medications">Current Medications</label>
          <textarea id="current_medications" name="current_medications" rows="3" disabled>{{ patient.medications }}</textarea>
        </div>
        <div class="form-actions">
          <a href="{% url 'patients_edit' patient.id %}" class="btn" style="
          width: 100%;
          text-align: center;">Edit</a>

          <a href="{% url 'patients_prepare_delete' patient.id %}" class="btn" style="
          width: 100%;
          text-align: center; 
          margin-top: 10px;
          background-color: red;
          border-color:grey;
          border-style: solid;
          border-radius: 5px;">Delete</a>

          <a href="/management/patients/" class="btn" style="
          width: 100%;
          text-align: center; 
          margin-top: 10px;
          background-color: bisque;
          color: black;
          border-color:grey;
          border-style: solid;
          border-radius: 5px;">Back</a>
        </div>
      </form>
    </section>
  </main>
{% endblock %}
